@tailwind base;
@tailwind components;
@tailwind utilities;

/* [x-on\:click] > *,  */
button[x-on\:click] > * {
    pointer-events: none;
}

.cursor-pointer{cursor: pointer;}
.cursor-not-allowed{cursor: not-allowed;}
.cursor-none{cursor: none;}
